
.carousel-container {
    width: 500px;
    margin: 0;
    overflow: hidden;
    display: flex;
    margin-left: 0.5cm;
    justify-content: flex-start;


}


.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    align-content: flex-start;
}


.carousel img {
    width: 500px;
    height: 300px;
    object-fit: cover;
}


.carousel-button {
    cursor: pointer;
    padding: 7px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    margin: 10px;
    border-radius: 5px;
    margin-left: 3cm;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

h1 {
    margin: 0;
    font-size: 28px;
}

main {
    padding: 20px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

section.link-section {
  position: relative;
  top: -10px;
  left: 300px;
  margin-right: 10px;
  padding: 20px;
}

p.link-text {
    font-size: 18px;
    margin-bottom: 10px;
}

a.return-link {
    display: inline-block;
    padding: 9px 10px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 5px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 0.5cm;
    margin-top: 0.02cm;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.dropdown-content a:hover {
    background-color: #444;
}

.dropdown button.dropbtn {
    display: inline-block;
    font-size: 15px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-left: 0.5cm;

}